/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;

@layer base {
  * {
    scroll-behavior: smooth;
    @apply leading-normal;
  }
}

@layer components {
  .btn {
    @apply bg-white text-center text-primary text-sm py-4 rounded-full px-10 font-bold transform leading-none cursor-pointer;
  }
  .btn:hover {
    @apply -translate-y-1 duration-700 shadow-lg;
  }
  .scroll-top-container {
    @apply z-50 fixed p-4 rounded-full bg-grey bg-opacity-50 mb-4 mr-8 cursor-pointer opacity-75 transition-opacity duration-500;
    bottom: 0;
    right: 0;
    line-height: 0;
    width: 40px;
    height: 40px;
  }
  .scroll-top {
    line-height: 0;
    margin-top: -4px;
    margin-left: -1px;
  }
  .scroll-top-container:hover {
    @apply opacity-100;
  }
  .scroll-top-container:hover .scroll-top {
    @apply animate-pulse;
  }
  .scroll-top-container:motion-safe {
    @apply animate-fadeIn;
  }
  .legal h1 {
    @apply py-4 font-bold text-2xl;
  }
  .legal h2 {
    @apply py-3 font-bold text-xl;
  }
  .legal p {
    @apply py-2;
  }
  .legal ul {
    @apply my-4 list-outside;
  }
  .legal ul {
    @apply list-disc pl-3;
  }
  .legal li {
    @apply py-1;
  }
  .legal a {
    @apply underline;
  }
  .legal table,
  th,
  td {
    @apply border p-3;
  }
  .legal th {
    @apply bg-lightGrey;
  }
}


/*! Remove Cookiebot backlinks */
a#CybotCookiebotDialogPoweredbyCybot, #CybotCookiebotDialogDetailFooter {
  display: none !important;
}

